body {
    background-color: #346135;
    width: 70%;
    margin: 0 auto;
    color: lightgray;
}

#navlinks li {
    display: inline;
}

#navlinks a {
    font-size: 32px;
    color: red;
    text-decoration: none;
    padding: 5px;

    border: 3px solid darkcyan;
    border-radius: 10px;
    background-color: darkturquoise;
    transition-duration: 0.3s;
}

#navlinks a:hover {
    background-color: cyan;
}

img {
    width: 200px;
    height: 200px;
}

#profile {
    text-align: left;
    margin: 0 auto;
    border: 5px solid darkgreen;
    background-color: forestgreen;
    border-radius: 10px;
}

#profile th {
    padding: 10px;
}

#tricks {
    margin: 0 auto;
    display: table;
}

#tricks ul {
    padding: 0px;
}

#tricks li {
    margin: 5px;
    text-align: center;
    display: block;
    color: yellow;
    height: 20px;
    border: 5px solid maroon;
    background-color: crimson;
}

form {
    border-radius: 5px;
    background-color: forestgreen;
    color: black;
    padding: 20px;
}

input[type=submit] {
    width: 100%;
    background-color: darkturquoise;
    color: red;
    font-size: 24px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;
}

input[type=submit]:hover {
    background-color: cyan;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-size: 24px;
}

#select {
    text-align: left;
    margin: 0 auto;
    border: 5px solid darkgreen;
    background-color: forestgreen;
    border-radius: 10px;
    width: 200px;
}

#select input {
    width: 200px;
}