<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Edit Todo</h1>
    <form action="/todo/save" method="post" th:object="${todo}">
        <input type="hidden" th:field="*{id}"/>
        Todo Description<input type="text" th:field="*{title}"/>
        Urgent<input type="checkbox" th:field="*{urgent}"/>
        Done<input type="checkbox" th:field="*{done}"/>
        <input type="submit"/>
    </form>
</body>
</html>