<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Programmer Fox Club</title>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <ul id="navlinks">
            <li th:each="link: ${nav}">
                <a th:href="${link.address}" th:text="${link.text}"/>
            </li>
        </ul>
        <table id="profile">
            <th>
                <img th:src="${fox.image}"/>
            </th>
            <th>
                <p th:text="'Name : ' + ${fox.name}"/>
                <p th:text="'Eating : ' + ${fox.food}"/>
                <p th:text="'Drinking : ' + ${fox.drink}"/>
                <p th:text="'Learned : ' + ${fox.knownTricks()} + ' trick(s)'"/>
            </th>
        </table>
        <div id="tricks">
            <h1>Known Tricks</h1>
            <p th:if="${fox.knownTricks()} == 0">You know no tricks yet. Go and learn some.</p>
            <ul th:unless="${fox.knownTricks()} == 0">
                <li th:each="trick : ${fox.tricks}">
                    <span th:text="${trick}">trick</span>
                </li>
            </ul>
        </div>
        <h1>Latest Activity</h1>
        <ul>
            <li th:each="action, iter : ${history}" th:if="${iter.index &lt; 5}">
                <span th:text="${#dates.format(action.postTime, 'yyyy MMMM dd. HH:mm:ss')} + ' : ' + ${action.message}"/>
            </li>
        </ul>
    </body>
</html>