<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Programmer Fox Club</title>
    </head>
    <body>
        <ul >
            <li th:each="link: ${nav}">
                <a th:href="${link.address}" th:text="${link.text}"/>
            </li>
        </ul>
        <img src="images/greenfox.png"/>
        <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} +
                    ' and ' + ${fox.drink} + '. He knows ' + ${fox.knownTricks()} + ' tricks.'">Info</p>
        <h1>Known Tricks</h1>
        <p th:if="${fox.knownTricks()} == 0">You know no tricks yet. Go and learn some.</p>
        <ul th:unless="${fox.knownTricks()} == 0">
            <li th:each="trick : ${fox.tricks}">
                <span th:text="${trick}">trick</span>
            </li>
        </ul>
    </body>
</html>