<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Programmer Fox Club</title>
    </head>
    <body>
        <ul >
            <li th:each="link: ${nav}">
                <a th:href="${link.address}" th:text="${link.text}"/>
            </li>
        </ul>
        <form action="/learnTrick" th:object="${fox}">
            Tricks
            <select name="trick">
                <option th:unless="${#lists.contains(fox.tricks, trick)}"
                        th:each="trick : ${tricks}"
                        th:value="${trick}"
                        th:text="${trick}">coffee</option>
            </select>
            <input type="submit" value="Learn"/>
        </form>
    </body>
</html>