<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Exercise 5</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Type</th>
            </tr>
            <tr th:each="a : ${accounts}">
                <td th:text="${a.name}">Name</td>
                <td th:text="${a.balance}">Balance</td>
                <td th:text="${a.animalType}">Type</td>
            </tr>
        </table>
    </body>
</html>