<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exercise 7</title>
</head>
<body>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>King</th>
    </tr>
    <tr th:each="a, iter : ${accounts}" th:style="${#strings.equals(a.animalType, 'King')}?'color:#FF8800'">
        <td th:text="${iter.index} + 1">Index</td>
        <td th:text="${a.name}">Name</td>
        <td th:text="${a.balance}">Balance</td>
        <td th:text="${a.animalType}">Type</td>
        <td th:if="${#strings.equals(a.animalType, 'King')}">Yes</td>
        <td th:unless="${#strings.equals(a.animalType, 'King')}">No</td>
    </tr>
</table>
</body>
</html>